<ion-header>
  <ion-navbar color="primary">
    <ion-title>Local</ion-title>

    <ion-buttons end *ngIf="isAdministradorEquipe()">
      <button ion-button icon-only (click)="salvar()" [disabled]="!localForm.valid">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab top right edge *ngIf="!local.coordenadas" (click)="selecionarLocal()">
    <button ion-fab mini>
      <ion-icon name="pin"></ion-icon>
    </button>
  </ion-fab>

  <form [formGroup]="localForm">
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="local.nome" minlength="5" maxlength="30" formControlName="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-textarea [(ngModel)]="local.descricao" maxlength="140" formControlName="descricao"></ion-textarea>
    </ion-item>

    <ion-card *ngIf="local.coordenadas">
      <div style="position: relative">
        <img src="https://maps.googleapis.com/maps/api/staticmap?autoscale=2&size=600x600&maptype=roadmap&format=png&visual_refresh=true&markers=icon:http://www.clker.com/cliparts/e/3/F/I/0/A/google-maps-marker-for-residencelamontagne-hi.png|{{ local.coordenadas.lat }},{{ local.coordenadas.lng }}">

        <ion-fab right top *ngIf="isAdministradorEquipe()">
          <button ion-fab class="fab-map" (click)="selecionarLocal()">
            <ion-icon name='create'></ion-icon>
          </button>
        </ion-fab>
      </div>
    </ion-card>

    <div padding-bottom *ngIf="isAdministradorEquipe() && this.local.$key">
      <button ion-button block color="primary" (click)="remover()" color="danger">Remover</button>
    </div>
  </form>
</ion-content>