<ion-header>
  <ion-navbar color="primary">
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <div id="profile-bg"></div>

  <div id="content">
    <div id="profile-info" padding-horizontal>
      <img id="profile-image" src="{{usuario.fotoUrl ? usuario.fotoUrl : '../../assets/images/no-image.jpg'}}">
    </div>
  </div>

  <div text-center>
    <button ion-button icon-only (click)="menuAlterarFoto()"><ion-icon name="camera"></ion-icon></button>
  </div>

  <!--<form (ngSubmit)=""> -->
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.nome" name="Nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-input type="text" [ngModel]="usuario.email" readonly name="email"></ion-input>
      <button ion-button item-right icon-only (click)="alterarEmail()"><ion-icon name="swap"></ion-icon></button>
    </ion-item>

    <div padding>
      <button ion-button (click)="alterarUsuario()" block>Salvar</button> 
      <!-- <button ion-button type="submit" block>Salvar</button> -->
    </div>
  <!---</form>-->

  <ion-footer padding>
    <button ion-button icon-start block color="danger" (click)="confirmarLogout()"><ion-icon name="log-out"></ion-icon>Sair</button>
  </ion-footer>
</ion-content>



<!--
<ion-content padding>
  <form (ngSubmit)="alterarUsuario()">
    <ion-card>
      <img *ngIf="!usuario.fotoUrl" class="circle-pic center" src="../../../resources/img/no-image.jpg" />
      <img *ngIf="usuario.fotoUrl" class="circle-pic center" src="{{usuario.fotoUrl}}" />
      <button ion-button block (click)="menuFoto()">Alterar Foto</button>
    </ion-card>

    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.nome" name="Nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.email" name="email"></ion-input>
    </ion-item>

    <button ion-button type="submit" block>Salvar</button>
  </form>



</ion-content >
-->