<ion-header>
  <ion-navbar color="primary">
    <ion-title>Tarefa</ion-title>

    <ion-buttons end *ngIf="isAdministradorEquipe() && !isSituacao(enumTarefaSituacao.Cancelada)">
      <button ion-button icon-only (click)="save()" [disabled]="!tarefaForm.valid">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="tarefaForm">
    <div *ngIf="tarefa.$key">
      <button  ion-button [color]="corBadge(tarefa.situacao)" block>{{ descricaoBadge(tarefa.situacao) }}</button>
    </div>

    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="tarefa.nome" minlength="5" maxlength="30" formControlName="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-textarea [(ngModel)]="tarefa.descricao" maxlength="140" formControlName="descricao"></ion-textarea>
    </ion-item>

    <ion-card>
      <ion-list>
        <ion-item>
          <h2>{{ tarefa.responsaveis.length }} Responsáveis</h2>
          <!-- <button ion-button item-end *ngIf="isAdministradorEquipe() && !isSituacao(enumTarefaSituacao.Cancelada)" (click)="selecionarResponsaveis()">
            <ion-icon name="person-add"></ion-icon>
          </button> -->
        </ion-item>

        <ion-item *ngIf="isAdministradorEquipe() && !isSituacao(enumTarefaSituacao.Cancelada)" (click)="selecionarResponsaveis()">
          <ion-icon color="primary" name="person-add" item-start></ion-icon>
          Editar Responsáveis
        </ion-item>

        <ion-item *ngFor="let responsavel of tarefa.responsaveis">
          <ion-avatar item-start>
            <img src="{{ responsavel.fotoUrl ? responsavel.fotoUrl : 'assets/images/no-image.jpg'}}">
          </ion-avatar>
          {{ responsavel.nome }}
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card *ngIf="tarefa.keyLocal">
      <ion-list>
        <ion-item>
          <h2>{{ tarefa.local.nome }}</h2>
          <p>{{ tarefa.local.descricao }}</p>

          <button ion-button item-end color="danger" *ngIf="isAdministradorEquipe() && !isSituacao(enumTarefaSituacao.Cancelada) && tarefa.keyLocal"
            (click)="removerLocal()">
            <ion-icon name="trash"></ion-icon>
          </button>

          <button ion-button item-end *ngIf="isAdministradorEquipe() && !isSituacao(enumTarefaSituacao.Cancelada)" (click)="selecionarLocal()">
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-item>
      </ion-list>

      <div style="position:relative" *ngIf="tarefa.keyLocal">
        <img src="https://maps.googleapis.com/maps/api/staticmap?autoscale=2&size=600x600&maptype=roadmap&format=png&visual_refresh=true&markers=icon:http://www.clker.com/cliparts/e/3/F/I/0/A/google-maps-marker-for-residencelamontagne-hi.png|{{ tarefa.local.coordenadas.lat }},{{ tarefa.local.coordenadas.lng }}">
      </div>
    </ion-card>

    <ion-card *ngIf="!tarefa.keyLocal">
      <ion-list>
        <ion-item>
          <h2>Local</h2>
          <button ion-button item-end *ngIf="isAdministradorEquipe() && !isSituacao(enumTarefaSituacao.Cancelada)" (click)="selecionarLocal()">
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
    </ion-card>

    <div padding-bottom>
      <div *ngIf="tarefa.$key">
        <div *ngIf="isSituacao(enumTarefaSituacao.Pendente) && isResponsavel()">
          <button ion-button block color="primary" (click)="comecarTarefa()">Começar</button>
        </div>

        <div *ngIf=" isSituacao(enumTarefaSituacao.Andamento) && (isResponsavel() || isAdministradorEquipe())">
          <button ion-button block color="primary" (click)="finalizarTarefa()">Finalizar</button>
        </div>

        <div *ngIf="isAdministradorEquipe() && (isSituacao(enumTarefaSituacao.Pendente) || isSituacao(enumTarefaSituacao.Andamento))">
          <button ion-button block color="primary" (click)="cancelarTarefa()" color="danger">Cancelar</button>
        </div>
      </div>
    </div>

    <div padding-bottom *ngIf="isAdministradorEquipe() && tarefa.$key">
      <button ion-button color="danger" (click)="remover()" block>Remover Tarefa</button>
    </div>
  </form>
</ion-content>