<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{ equipe.nome }}</ion-title>

    <ion-buttons end *ngIf="isAdministradorEquipe()">
      <button ion-button icon-only (click)="salvar()" [disabled]="!form.valid || !validarDatas()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <div id="profile-bg"></div>

  <div id="content">
    <div id="profile-info" padding-horizontal>
      <img id="profile-image" (click)="menuAlterarImagem()" src="{{ equipe.fotoUrl ? equipe.fotoUrl : 'assets/images/no-image.gif'}}">
    </div>
  </div>

  <form [formGroup]="form" novalidate>
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input type="text" formControlName="nome" maxlength="25" [(ngModel)]="equipe.nome" name="Nome"></ion-input>
    </ion-item>

    <ion-item (click)="alterarDataInicio()" [ngClass]="corClasse()">
      <ion-label style="color:#999; max-width: 30%;">Início</ion-label>
      <ion-label text-right>{{ dataFormatada(equipe.dataInicio) }}</ion-label>
    </ion-item>

    <ion-item (click)="alterarDataTermino()" [ngClass]="corClasse()">
      <ion-label style="color:#999; max-width: 30%;">Término</ion-label>
      <ion-label text-right>{{ dataFormatada(equipe.dataFim) }}</ion-label>
    </ion-item>

    <ion-card>
      <ion-list>
        <ion-item>
          <h2>{{ equipe.membros.length }} Membros</h2>
        </ion-item>

        <button ion-item *ngIf="isAdministradorEquipe()" (click)="abrirConvidar()">
          <ion-icon color="primary" name="person-add" item-start></ion-icon>
          Enviar convites
        </button>

        <div *ngFor="let usuarioMembro of equipe.membros">
          <button ion-item (press)="listaMembrosItemPressed(usuarioMembro)">
            <ion-avatar item-start>
              <img src="{{ usuarioMembro.fotoUrl ? usuarioMembro.fotoUrl : 'assets/images/no-image.jpg' }}">
            </ion-avatar>
            {{ usuarioMembro.nome }}

            <ion-badge *ngIf="usuarioMembro.$key == equipe.keyResponsavel" class="itemOutline" item-end>Admin</ion-badge>
          </button>
        </div>
      </ion-list>
    </ion-card>

    <!-- <div padding-bottom>
      <button ion-button color="danger" *ngIf="isAdministradorEquipe()" (click)="remover()" block>Remover Equipe</button>
      <button ion-button color="danger" *ngIf="!isAdministradorEquipe()" (click)="sairDaEquipe()" block>Sair da Equipe</button>
    </div> -->
  </form>
</ion-content>