<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{ equipe.nome }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="messages">
  <ion-list no-padding *ngIf="usuario">
    <div *ngFor="let mensagem of mensagens; let i = index">

      <fieldset *ngIf="i == 0 || (i > 0) && diaSemHora(mensagem.dia) != diaSemHora(mensagens[i - 1].dia)">
        <legend align="center" *ngIf="!isToday(mensagem.timestamp)">
          {{ mensagem.dia | date: "dd/MM/yyyy H:mm" }}
        </legend>

        <legend align="center" *ngIf="isToday(mensagem.timestamp)">
          Hoje
        </legend>
      </fieldset>

      <ion-item no-lines>
        <ion-label class="margem" *ngIf="mensagem.tipo == enumMensagemTipo.Notificacao">
          <p style="text-align: center">
            <span class="notificacao">{{ mensagem.conteudo }}</span>
            <span class="message-time">{{ mensagem.timestamp | date: "H:mm" }}</span>
          </p>
        </ion-label>

        <ion-label class="margem" *ngIf="mensagem.tipo == enumMensagemTipo.Mensagem">
          <p *ngIf="mensagem.keyUsuario == usuario.$key">
            <span class="message-text right">{{ mensagem.conteudo }}</span>
            <span class="message-time">{{ mensagem.timestamp | date: "H:mm" }}</span>
          </p>

          <p *ngIf="mensagem.keyUsuario != usuario.$key">
            <ion-avatar>
              <img class="user-image" [src]="mensagem.usuario?.fotoUrl || 'assets/images/no-image.jpg'" />
            </ion-avatar>
            <span class="message-text left">
              <span class="author">{{ mensagem.usuario?.nome || mensagem.usuario?.email }}</span>
              {{ mensagem.conteudo }}
            </span>
            <span class="message-time">{{ mensagem.timestamp | date: "H:mm" }}</span>
          </p>
        </ion-label>

        {{ mensagem.conteudo }}
      </ion-item>

    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col col-10 no-padding>
        <ion-textarea elastic type="text" [(ngModel)]="chatText" (keydown.enter)="enviarMensagem($event);false" rows="1" [placeholder]="'Digite aqui...'"
          autocapitalize="off" color="dark" block></ion-textarea>
      </ion-col>
      <ion-col no-padding text-right col-2>
        <button ion-button (click)="enviarMensagem($event)" [disabled]="!chatText" color="primary" block clear icon-only>
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>