<ion-header>
  <ion-navbar color="primary">
    <ion-title>Convites</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="convites.length == 0">
    <ion-card-content>
      Parece que você não tem nenhum convite..
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="convites.length > 0">
    <ion-item-sliding *ngFor="let convite of convites">
      <ion-item>
        <ion-avatar item-start>
          <!--<img src="{{ convite?.equipe?.fotoUrl ? convite?.equipe?.fotoUrl : '../../assets/images/no-image.gif'}}">-->
          <img src="{{ convite.equipe?.fotoUrl ? convite.equipe?.fotoUrl : '../../assets/images/no-image.gif'}}">
        </ion-avatar>

        <!--{{ convite?.equipe?.nome }}-->
        {{ convite.equipe?.nome }}
        <p *ngIf="isToday(convite.timestamp)">Hoje às {{ convite.timestamp | date:"hh:mm a" }}</p>
        <p *ngIf="!isToday(convite.timestamp)">{{ convite.timestamp | date: "dd/mm/yyyy hh:mm a" }}</p>
      </ion-item>

      <ion-item-options slide="right">
        <button ion-button color="primary" (click)="aceitarConvite(convite)"><ion-icon name="checkmark"></ion-icon>Aceitar</button>
        <button ion-button color="danger" (click)="recusarConvite(convite)"><ion-icon name="close"></ion-icon>Recusar</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>