<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons start left>
      <button ion-button icon-only (click)="cancelar()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Pesquise por um lugar"></ion-searchbar>

    <ion-buttons end>
      <button ion-button icon-only (click)="confirmar()" [disabled]="!this.marker">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

  <div #map id='map'></div>

  <ion-fab right bottom>
    <button *ngIf="!locationLoading" ion-fab color="primary" (click)="centerMapOnCurrentPosition()">
      <ion-icon name="locate"></ion-icon>
    </button>

    <button *ngIf="locationLoading" ion-fab color="primary">
      <ion-spinner color="light"></ion-spinner>
    </button>
  </ion-fab>
</ion-content>