<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Minhas Tarefas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-card *ngIf="equipe.tarefas.length == 0"> -->
  <ion-card >
    <ion-card-content>
      Parece que você não possui nenhuma tarefa...
    </ion-card-content>
  </ion-card>

  <!-- <ion-list *ngIf="equipe.tarefas.length > 0">
    <button ion-item *ngFor="let tarefa of equipe.tarefas" (click)="editarTarefa(tarefa)">
      <ion-label>
        <h2>{{ tarefa.nome }}</h2>
        <p>{{ tarefa.descricao }}</p>
      </ion-label>
      <div item-content>
      </div>
    </button>

  </ion-list> -->
</ion-content>