page-equipe-contexto {
    #map {
        height: 100%;
        width: 100%;
    } // novo - inicio
    .marker {
        position: absolute;
        width: 45px;
        height: 45px;
        padding: 5px;
        border-radius: 50px 50px 45px 45px;
        background: #333;
        color: #fff;
        cursor: pointer;
        display: table-cell;
        vertical-align: middle;
    }
    .marker:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: -5px;
        width: 0;
        height: 0;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-top: 16px solid #333;
    } 
    .marker img {
        display: block;
        border-radius: 100px;
        width: 35px;
        height: 35px;
        margin: 0px auto 0;
        background-color: #fff;
        object-fit: cover;
    }
    .marker p {
        text-align: center;
        margin: auto;
    } // novo - fim
}

ion-app._gmaps_cdv_ .nav-decor {
    background-color: transparent !important;
}