<ion-header>
  <ion-navbar color="primary">
    <ion-title>Equipe</ion-title>
        <ion-buttons end *ngIf="equipe.$key">
          <button ion-button icon-only (click)="abrirPopover($event)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>

  <ion-fab right bottom *ngIf="equipe.$key && isAdministradorEquipe()">
    <button ion-fab color="primary" (click)="abrirConvidar()">
      <ion-icon name="person-add"></ion-icon>
    </button>
  </ion-fab>

  <div id="profile-bg"></div>

  <div id="content">
    <div id="profile-info" padding-horizontal>
      <img id="profile-image" (click)="menuAlterarImagem()" src="{{ imagemBase64 ? imagemBase64 : equipe.fotoUrl ? equipe.fotoUrl : 'assets/images/no-image.gif'}}">
    </div>
  </div>
  <!-- 
  <div text-center>
    <button ion-button icon-only (click)="menuAlterarImagem()">
      <ion-icon name="camera"></ion-icon>
    </button>
  </div> -->

  <form [formGroup]="form" novalidate>
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input type="text" formControlName="nome" maxlength="25" [(ngModel)]="equipe.nome" name="Nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Início</ion-label>
      <ion-input type="text" text-right [value]="dataFormatada(equipe.dataInicio)" [disabled]="true"></ion-input>
      <button ion-button item-right (click)="alterarDataIncio()" *ngIf="isAdministradorEquipe()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-item>

    <ion-item>
      <ion-label>Término</ion-label>
      <ion-input type="text" text-right [value]="dataFormatada(equipe.dataFim)" [disabled]="true"></ion-input>
      <button ion-button item-right (click)="alterarDataTermino()" *ngIf="isAdministradorEquipe()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-item>
{{equipe.membros.length}}
    <ion-card *ngIf="equipe.$key">
      <ion-list>
        <ion-item>
          <h2>Membros</h2>
        </ion-item>
        <ion-item-sliding *ngFor="let usuario of equipe.membros">
          <ion-item>
            <ion-avatar item-start>
              <img src="{{ usuario.fotoUrl ? usuario.fotoUrl : 'assets/images/no-image.jpg' }}">
            </ion-avatar>

            {{ usuario.nome }}
          </ion-item>

          <ion-item-options slide="right" *ngIf="usuario.$key != this.usuarioService.usuario.$key && isAdministradorEquipe()">
            <button ion-button color="danger" (click)="recusarConvite(usuario)">
              <ion-icon name="close"></ion-icon>remover
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card>

    <div padding-vertical *ngIf="isAdministradorEquipe()">
      <button ion-button (click)="save()" [disabled]="!form.valid" block>Salvar</button>
    </div>
  </form>















  <!-- <div padding>
    <button ion-button (click)="abrirMembrosDaEquipe()" block icon-only>
      <ion-icon name="document"></ion-icon>
    </button>
  </div> -->
</ion-content>