<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Equipe</ion-title>

    <ion-buttons end *ngIf="isAdministradorEquipe()">
      <button ion-button icon-only (click)="save()" [disabled]="!form.valid || !validarDatas()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <div id="profile-bg"></div>

  <div id="content">
    <div id="profile-info" padding-horizontal>
      <img id="profile-image" (click)="menuAlterarImagem()" src="{{ imagemBase64 ? imagemBase64 : equipe.fotoUrl ? equipe.fotoUrl : 'assets/images/no-image.gif'}}">
    </div>
  </div>
  <!-- 
  <div text-center>
    <button ion-button icon-only (click)="menuAlterarImagem()">
      <ion-icon name="camera"></ion-icon>
    </button>
  </div> -->

  <form [formGroup]="form" novalidate>
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input type="text" formControlName="nome" maxlength="25" [(ngModel)]="equipe.nome" name="Nome"></ion-input>
    </ion-item>

    <ion-item (click)="alterarDataInicio()" [ngClass]="corClasse()">
      <ion-label style="color:#999; max-width: 30%;">Início</ion-label>
      <!-- <ion-note item-end>{{ dataFormatada(equipe.dataInicio) }}</ion-note> -->
      <ion-label text-right>{{ dataFormatada(equipe.dataInicio) }}</ion-label>
      <button ion-button item-right *ngIf="isAdministradorEquipe() || !equipe.$key">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-item>

    <ion-item (click)="alterarDataTermino()" [ngClass]="corClasse()">
      <ion-label style="color:#999; max-width: 30%;">Término</ion-label>
      <!-- <ion-note item-end>{{ dataFormatada(equipe.dataFim) }}</ion-note> -->
      <ion-label text-right>{{ dataFormatada(equipe.dataFim) }}</ion-label>
      <button ion-button item-right *ngIf="isAdministradorEquipe() || !equipe.$key">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-item>

    <!-- <ion-item>
      <ion-label>Início</ion-label>
      <ion-input type="text" text-right [value]="dataFormatada(equipe.dataInicio)" [disabled]="true"></ion-input>
      <button ion-button item-right (click)="alterarDataIncio()" *ngIf="isAdministradorEquipe() || !equipe.$key">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-item>

    <ion-item>
      <ion-label>Término</ion-label>
      <ion-input type="text" text-right [value]="dataFormatada(equipe.dataFim)" [disabled]="true"></ion-input>
      <button ion-button item-right (click)="alterarDataTermino()" *ngIf="isAdministradorEquipe() || !equipe.$key">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-item> -->

    <ion-card *ngIf="equipe.$key">
      <ion-list>
        <ion-item>
          <h2>{{ equipe.membros.length }} Membros</h2>
        </ion-item>

        <ion-item *ngIf="isAdministradorEquipe()" (click)="abrirConvidar()">
          <ion-icon color="primary" name="person-add" item-start></ion-icon>
          Enviar convites
        </ion-item>

        <div *ngFor="let usuario of equipe.membros">
          <button ion-item (press)="itemPressed(usuario)">
            <ion-avatar item-start>
              <img src="{{ usuario.fotoUrl ? usuario.fotoUrl : 'assets/images/no-image.jpg' }}">
            </ion-avatar>
            {{ usuario.nome }}

            <ion-badge *ngIf="usuario.$key == equipe.keyResponsavel" class="itemOutline" item-end>Admin</ion-badge>
          </button>
        </div>
      </ion-list>
    </ion-card>

    <div padding-bottom *ngIf="isAdministradorEquipe()">
      <button ion-button color="danger" (click)="remover()" block>Remover Equipe</button>
    </div>
  </form>
</ion-content>