<ion-header>
  <ion-navbar color="primary">
    <ion-title>Tarefas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab right bottom *ngIf="isAdministradorEquipe()">
    <button ion-fab color="primary" (click)="novaTarefa()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-card *ngIf="equipe.tarefas.length == 0">
    <ion-card-content>
      Parece que a equipe não possui nenhuma tarefa...
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="equipe.tarefas.length > 0">

    <button ion-item *ngFor="let tarefa of equipe.tarefas" (click)="editarTarefa(tarefa)">
      <ion-label>
        <h2>{{ tarefa.nome }}</h2>
        <p>{{ tarefa.descricao }}</p>
      </ion-label>
      <div item-content>
        <tarefa-status-label [status]="tarefa.situacao" [buttonBlock]="false"></tarefa-status-label>
      </div>
    </button>

  </ion-list>
</ion-content>