<ion-header>
  <ion-navbar color="primary">
    <ion-title>Locais</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab right bottom *ngIf="isAdministradorEquipe()">
      <button ion-fab color="primary" (click)="novoLocal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>

  <ion-card *ngIf="equipe.locais.length == 0">
    <ion-card-content>
      Parece que a equipe não possui nenhum local...
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="equipe.locais.length > 0">
      <button ion-item *ngFor="let local of equipe.locais" (click)="editarLocal(local)">
      <!--
        <ion-avatar item-start>
          <img src="{{ equipe.fotoUrl ? equipe.fotoUrl : 'assets/images/no-image.gif'}}">
        </ion-avatar>
      -->
  
        <h2>{{ local.nome }}</h2>
        <p>{{ local.descricao }}</p>
     </button>
    </ion-list>
</ion-content>